* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 90%;
  width: 400px;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(2, 10, 72, 0.731);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  color: white;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.container input {
  padding: 16px;
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.container input::placeholder {
  color: #cccccc;
}

.container form button {
  padding: 16px;
  margin-top: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  background: #3e8ed0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container form button:hover {
  background: #ffffff;
  color: #3e8ed0;
}
